#container {
    display: flex;
    box-sizing: border-box;
    border-radius: 5%
}

#box {
    box-sizing: inherit;
    margin-left: 20px;
    margin-right: 20px;
    direction: flex;
    flex: 1;
    align-items: center;
}

.mainBox {
    resize: none;
    flex: 1;
    width: 100%;
    height: 20vh;
}

#key, #understoodText, #halfSolvedText {
    height: 10vh;
    width: 100%;
    resize: none;
}
